<button *ngIf="!isAuth()" type="button" class="btn btn-default" (click)="logIn()">Авторизоваться через ВК</button>
<button *ngIf="isAuth()" type="button" class="btn btn-default" (click)="logOut()">Выход</button>
<br><br>
<div *ngIf="isAuth()">
  <button type="button" class="btn btn-default" [class.active]="sortBy === 'first_name'" (click)="changeSort('first_name')">По имени</button>
  <button type="button" class="btn btn-default" [class.active]="sortBy === 'last_name'" (click)="changeSort('last_name')">По фамилии</button>

  <div class="list-group"  *ngFor="let friend of friends | orderFriendsBy : sortBy">
    <div class="list-group-item">
      <h4 class="list-group-item-heading">{{friend.first_name}} {{friend.last_name}}</h4>
      <p class="list-group-item-text">{{friend.bdate}}</p>
    </div>
  </div>
</div>

